*{
    box-sizing: border-box;
}

#conteneur{
    max-width: 724px;
    display: flex; 
    flex-wrap: wrap;
    border: 2px solid grey;
    margin:2em;
}


div p{
    margin: 0;
    padding: 0em;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: none;
    background-color:rgb(224, 216, 103);
    color: black; 
    
}

.cellulesNoires p{
    background-color:rgb(102, 60, 6);
    color: white;
}